@using Techan.ViewModels.BrandVMs
@using Techan.ViewModels.CategoryVMs
@model List<BrandGetVM>

<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Brand </h2>
            <p>Brand and vendor management</p>
        </div>
        <div>
            <a asp-controller="Brand" asp-action="Create" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Add New Brand</a>
        </div>
    </div>
    <div class="card mb-4">
        <header class="card-header">
            <div class="row gx-3">
                <div class="col-lg-4 mb-lg-0 mb-15 me-auto">
                    <input type="text" placeholder="Search..." class="form-control">
                </div>
                <div class="col-lg-2 col-6">
                    <div class="custom_select">
                        <select class="form-select select-nice">
                            <option value="">Categories</option>

                            @foreach (CategoryGetVM item in ViewBag.Categories)
                            {
                                <option>@item.Name</option>
                            }

                        </select>
                    </div>
                </div>
                <div class="col-lg-2 col-6">
                    <input type="date" class="form-control" name="">
                </div>
            </div>
        </header> <!-- card-header end// -->

        <div class="card-body">
            <div class="row gx-3">

                @foreach (BrandGetVM item in Model)
                {
                    <div class="col-xl-2 col-lg-3 col-md-4 col-6">
                        <figure class="card border-1">
                            <div class="card-header bg-white text-center">
                                <img height="70" width="70" src="~/uploads/brands/@item.ImagePath" class="img-fluid" alt="Logo">
                            </div>
                            <figcaption class="card-body text-center">
                                <h6 class="card-title m-0">@item.Name</h6>
                                <a href="#"> @item.ItemCount items </a>

                                <div>
                                    <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-sm font-sm rounded btn-brand">
                                        <i class="material-icons md-edit"></i> Edit
                                    </a>

                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm font-sm rounded btn-light">
                                        <i class="material-icons md-delete_forever"></i> Delete
                                    </a>
                                </div>

                            </figcaption>
                        </figure>
                    </div>
                }

            </div>
        </div>
    </div>
</section>