@using Techan.ViewModels.CategoryVMs
@model List<CategoryGetVM>

<section class="content-main">

    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Categories </h2>
        </div>
        <div>
            <input type="text" placeholder="Search Categories" class="form-control bg-white">
        </div>
        <div>
            <a asp-action="Create" class="btn btn-primary btn-sm rounded">Create new</a>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Slug</th>
                                    <th>Order</th>
                                    <th class="text-end">Action</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (CategoryGetVM item in Model)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td><b>@item.Name</b></td>
                                        <td>@item.Description</td>
                                        <td>@item.Slug</td>
                                        <td>@item.OrderCount</td>
                                        <td class="text-end">
                                            <div>
                                                <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-sm font-sm rounded btn-brand">
                                                    <i class="material-icons md-edit"></i> Edit
                                                </a>

                                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm font-sm rounded btn-light">
                                                    <i class="material-icons md-delete_forever"></i> Delete
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            
                            </tbody>
                        </table>
                    </div>
                </div> <!-- .col// -->
            </div> <!-- .row // -->
        </div> <!-- card body .// -->
    </div> <!-- card .// -->

</section>
